.container .conditions {
  margin-top: 50px;
  margin-bottom: 50px;
}

.conditions {
  overflow: scroll;
  height: 50vh;
  width: 30vw;
  padding: 100px 10px;
  border: 2px solid black;
  margin: 100px 10px;
  display: flex;
  justify-content: Center;
  align-items: center;
  margin: 0 auto !important;
}

.conditions-button {
  background: #ff0060;
  color: white;
  font-size: 1rem;
  padding: 20px;
  transition: all 5s;
  opacity: 1;
}
.conditions-button:disabled {
  opacity: 0.1;
  /* transform: translateX(-200%) scale(0.5); */
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 100px auto;
  flex-direction: column;
}
.card {
  background-color: blue;
  border: 1px solid black;
  border-radius: 30px;
  padding: 20px;
  opacity: 0;
  color: white;
  width: 200px;
  height: 250px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: 0.5s;
}

.card.left {
  transform: translateX(500px);
}

.card.right {
  transform: translateX(-500px);
}

.card.show {
  opacity: 1;
  transform: translateX(0px);
}
